:root {
  --darkbackground: rgba(18, 18, 18, 1);
  --darkprimary-hover: rgba(255, 92, 92, 1);
  --darksurface: rgba(30, 30, 30, 1);
  --lightbackground: rgba(255, 255, 255, 1);
  --lightborder: rgba(218, 218, 218, 1);
  --lightsecondary-hover: rgba(0, 91, 181, 1);
  --lightsurface: rgba(248, 248, 248, 1);
  --paletteazul-bandera: rgba(0, 123, 255, 1);
  --palettegris-institucional: rgba(110, 110, 110, 1);
}
